
body{
  overflow: auto;
  padding-top : 50px;
  font-family: Hind Vadodara,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3e4676;
  text-align: left;
  background-color: #f4f7fc;
  
  
}
h5 { 
  display: block;
  font-size: .8100em;
  margin-top: 4.67em !important;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:center
}

h4 { 
  display: block;
  font-size: 20px !important;
  font-weight: bold;
  text-align:center
}
.styled-select {
  width: 350px;
  height: 40px;
  overflow: hidden;
  border: 1px solid #ccc;
}
select {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 350px;
  padding-left: 80px;
}
.styled-select select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.custom-select1 {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: no-repeat right .75rem center/8px 10px;
  background-color: #fff;
  border: 1px solid #ffffff;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option:disabled {
  color: -internal-light-dark-color(graytext, rgb(221, 178, 58)) !important;
}


td {
  text-align: center;
  vertical-align: middle;
}
td[colspan="3"] {
  text-align: center;
}
.selectedSpan {
  filter: opacity(1) drop-shadow(0 0 0 rgb(0, 0, 0));
}

.slider.round {
  border-radius: 34px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.splitter {
  border-left: 2px solid rgb(163, 185, 195);
  height: 225px;
  left: 50%;
  margin-left: 25px;
  top: 2;
}
#inputElementsDiv table td {
  width: 50% !important;
}

 .kt-widget-14__info {
  border-radius: 5px !important;
  background-color: #fff !important;
  text-align: center !important;
  padding: 0.7rem 1rem !important;
  margin-left: 0.5rem !important;
  box-shadow: 0px 2px 4px 0px #888888;
}
.kt-widget-14__info .kt-widget-14__info-title {
  font-weight: 600!important;
  color: #48465b!important;
}
 .kt-widget-14__desc {
  font-weight: 400!important;
  color: #74788d!important;
  padding-right: 0.5rem!important;
}
.kt-font-brand {
  color: #385aeb !important;
}

.round-box{
    background: #80808014;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 10%;
}
.round-box span{
  line-height: 6;
}
.headerBottonLine {
  border: 1px solid #00000033;
    width: 6%;
    margin-left: 46%;
    margin-top: 1%;
}
.table td{
  border: none!important;
}

.jumb-css {
    border: 1px solid #80808045 !important;
    background-color : #fff!important;
    box-shadow: 0px 10px 8px 0px #888888;
}
.module-box{
  border: 1px solid #80808040;
  padding: 18%;
}

#fieldData .row{
  padding : 10px;
  border-bottom : 1px dotted #ddd;
}

#fieldData input{
  background : none;
  border: none;
  width: 75%;
}
#fieldData div.container>div:nth-of-type(odd) {
  background: #f3f2f26b;
}

.bg-green-created {
  box-shadow: 0px 5px 8px 0px #28a7456b;
  border : 1px solid #28a7456b;
  background: #fff;
}

.bg-yellow-updated {
  box-shadow: 0px 5px 8px 0px #ffc10769;
  border : 1px solid #ffc10769;
  background: #fff;
}

.bg-red-error {
  box-shadow: 0px 5px 8px 0px #dc354561;
  border : 1px solid #dc354561;
  background: #fff;
}

.onCardHover:hover {
  box-shadow:0px 5px 8px 0px #888888;
  cursor: pointer;
}

.onCardHover {
  box-shadow:0px 3px 3px 0px #888888;
  cursor: pointer;
}

.addModuleCardHover:hover{
  box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important;
  cursor: pointer;
  background-color: #ffffff;
}
.addModuleCardHover:hover .intDelete{
  color: #c1c6ca8c;
  border-color: #c1c6ca8c;
  background-color: #fff;
}

.addModuleCardHover {
  cursor: pointer;
  background-color: #d3d3d321;
}


.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #cef;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

body {
  background: #3498db;
  font-family: sans-serif;
}
h6 {
  position: relative;
  color: rgba(0, 0, 0, .3);
  font-size: 5em
}
h6:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 50em;
  white-space: nowrap;
  color: #fff;
  animation: loading 4s infinite;
}
@keyframes loading {
  0% {
      max-width: 0;
  }
}

.ribbon1 {
  position: absolute;
  top: -6.1px;
  right: 10px;
}
.ribbon1:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-top: 10px solid #57DD43;
}
.ribbon1 span {
  position: relative;
  display: block;
  text-align: center;
  background: #57DD43;;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: 90px;
}
.ribbon1 span:before, .ribbon1 span:after {
  position: absolute;
  content: "";
}
.ribbon1 span:before {
 height: 6px;
 width: 6px;
 left: -6px;
 top: 0;
 background: #4D6530;
}
.ribbon1 span:after {
 height: 6px;
 width: 8px;
 left: -8px;
 top: 0;
 border-radius: 8px 8px 0 0;
 background: #4D6530;
}

      
* {
  padding: 0;
  /* Standard Reset, and we're adding box-sizing:border-box because it's awesome. */
  
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.content-box {
  width: 100%;
  height: 400px;
  max-width:80%;
  margin: 94px auto 0 auto;
  position: relative;
  /* So we can position the banner within the box */
  
  background: gray;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#ribbon-container {
  position: absolute;
  top: 15px;
  right: -20px;
  overflow: visible;
  /* so we can see the pseudo-elements we're going to add to the anchor */
  
  font-size: 18px;
  /* font-size and line-height must be equal so we can account for the height of the banner */
  
  line-height: 18px;
}

#ribbon-container:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  border-top: 29px solid rgba(0, 0, 0, .3);
  /* These 4 border properties create the first part of our drop-shadow */
  
  border-bottom: 29px solid rgba(0, 0, 0, .3);
  border-right: 29px solid rgba(0, 0, 0, .3);
  border-left: 29px solid transparent;
}

#ribbon-container:after {
  /* This adds the second part of our dropshadow */
  
  content: "";
  height: 3px;
  background: rgba(0, 0, 0, .3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 58px;
  right: 3px;
}

#ribbon-container a {
  display: block;
  padding: 20px;
  position: relative;
  /* allows us to position our pseudo-elements properly */
  
  background: #0089d0;
  overflow: visible;
  height: 58px;
  margin-left: 29px;
  color: #fff;
  text-decoration: none;
}

#ribbon-container a:after {
  /* this creates the "folded" part of our ribbon */
  
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  right: 0;
  border-top: 15px solid #004a70;
  border-right: 15px solid transparent;
}

#ribbon-container a:before {
  /* this creates the "forked" part of our ribbon */
  
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  left: -29px;
  border-top: 29px solid #0089d0;
  border-bottom: 29px solid #0089d0;
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
}

#ribbon-container a:hover {
  background: #009ff1;
}

#ribbon-container a:hover:before {
  /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
  
  border-top: 29px solid #009ff1;
  border-bottom: 29px solid #009ff1;
}



.tsc_ribbon_wrap {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  height: 130px;
  margin-bottom: 3px;
  position: relative;
  text-align: center;
  width: 650px;
}
.tsc_ribbon_wrap > div {
  margin-bottom: 40px;
}
.tsc_ribbon_wrap > div:last-of-type {
  margin-bottom: 0;
}
.tsc_ribbon_wrap:before, .tsc_ribbon_wrap:after {
  content: "";
  display: table;
}
.tsc_ribbon_wrap:after {
  clear: both;
}
.tsc_ribbon_wrap {
}
.tsc_ribbon_wrap .ribbon-wrap {
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  z-index: 0;
}
.tsc_ribbon_wrap .ribbon-wrap > span {
  display: block;
  height: 100%;
  position: relative;
}
.tsc_ribbon_wrap .ribbon-wrap > span:before, .tsc_ribbon_wrap .ribbon-wrap > span:after {
  content: "";
  position: absolute;
  z-index: -1;
}
.tsc_ribbon_wrap .ribbon-wrap:before, .tsc_ribbon_wrap .ribbon-wrap:after {
  content: "";
  position: absolute;
  z-index: -2;
}
.tsc_ribbon_wrap.edge {
  position: relative;
}
.tsc_ribbon_wrap .left-edge.point {
  border-radius: 5px 0 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  height: 40px;
  left: -5px;
  line-height: 40px;
  top: 20px;
  width: 120px;
}
.tsc_ribbon_wrap.ie8 .left-edge.point {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  left: 0;
}
.tsc_ribbon_wrap .left-edge.point > span {
  border-radius: 5px 0 0 0;
}
.tsc_ribbon_wrap.ie .left-edge.point > span {
}
.tsc_ribbon_wrap .left-edge.point:before {
  border-color: transparent;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 5px;
  bottom: -5px;
  left: 0;
  transform: rotate(-45deg);
}
.tsc_ribbon_wrap .left-edge.point:after {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: 28px;
  margin-top: -14px;
  right: -14px;
  top: 50%;
  transform: rotate(45deg);
  transform-origin: center center 0;
  width: 28px;
}
.tsc_ribbon_wrap.ie8 .left-edge.point:before, .tsc_ribbon_wrap.ie8 .left-edge.point:after {
  border-radius: 0 0 0 0;
  display: none;
}
.tsc_ribbon_wrap .right-edge.point {
  border-radius: 0 5px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  height: 40px;
  line-height: 40px;
  right: -5px;
  top: 20px;
  width: 120px;
}
.tsc_ribbon_wrap.ie8 .right-edge.point {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  right: 0;
}
.tsc_ribbon_wrap .right-edge.point > span {
  border-radius: 0 5px 0 0;
}
.tsc_ribbon_wrap.ie .right-edge.point > span {
}
.tsc_ribbon_wrap .right-edge.point:before {
  border-color: transparent;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 4px;
  bottom: -5px;
  right: 0;
  transform: rotate(45deg);
}
.tsc_ribbon_wrap .right-edge.point:after {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: 28px;
  left: -14px;
  margin-top: -14px;
  top: 50%;
  transform: rotate(45deg);
  transform-origin: center center 0;
  width: 28px;
}
.tsc_ribbon_wrap.ie8 .right-edge.point:before, .tsc_ribbon_wrap.ie8 .right-edge.point:after {
  border-radius: 0 0 0 0;
  display: none;
}
.tsc_ribbon_wrap .left-edge.fork {
  border-radius: 5px 0 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 40px;
  left: -5px;
  line-height: 40px;
  top: 20px;
  width: 120px;
}
.tsc_ribbon_wrap.ie8 .left-edge.fork {
  border-radius: 0 0 0 0;
  box-shadow: none !important;
  left: 0;
}
.tsc_ribbon_wrap .left-edge.fork > span {
  border-radius: 5px 0 0 0;
}
.tsc_ribbon_wrap .left-edge.fork > span:before {
  border-color: transparent;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 5px;
  bottom: -5px;
  left: 0;
  transform: rotate(-45deg);
}
.tsc_ribbon_wrap.ie8 .left-edge.fork > span:before {
  display: none;
}
.tsc_ribbon_wrap .left-edge.fork > span:after {
  border-style: solid;
  border-width: 20px;
  right: -20px;
  top: 0;
}
.tsc_ribbon_wrap .left-edge.fork:before {
  background: none repeat scroll 0 0 #666666;
  bottom: 5px;
  box-shadow: 25px 8px 4px rgba(0, 0, 0, 0.5);
  height: 20px;
  right: 22px;
  transform: rotate(-22deg) skew(18deg, 28deg);
  width: 80px;
}
.tsc_ribbon_wrap .left-edge.fork:after {
  background: none repeat scroll 0 0 #666666;
  box-shadow: 20px -5px 4px rgba(0, 0, 0, 0.5);
  height: 20px;
  right: 22px;
  top: 5px;
  transform: rotate(32deg) skew(-18deg, -28deg);
  width: 80px;
}
.tsc_ribbon_wrap.ie8 .left-edge.fork:before, .tsc_ribbon_wrap.ie8 .left-edge.fork:after {
  display: none;
}
.tsc_ribbon_wrap .right-edge.fork {
  border-radius: 0 5px 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    height: 24px;
    line-height: 25px;
    right: -5px;
    top: 10px;
    width: 80px;
}
.tsc_ribbon_wrap.ie8 .right-edge.fork {
  border-radius: 0 0 0 0;
  box-shadow: none !important;
  right: 0;
}
.tsc_ribbon_wrap .right-edge.fork > span {
  border-radius: 0 5px 0 0;
}
.tsc_ribbon_wrap .right-edge.fork > span:before {
  border-color: transparent;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 5px;
    bottom: -5px;
    right: 0;
    transform: rotate(45deg);
}
.tsc_ribbon_wrap.ie8 .right-edge.fork > span:before {
  display: none;
}
.tsc_ribbon_wrap .right-edge.fork > span:after {
  border-style: solid;
  border-width: 12px;
  left: -20px;
  top: 0;
}
.tsc_ribbon_wrap .right-edge.fork:before {
  background: none repeat scroll 0 0 #666666;
    bottom: 5px;
    box-shadow: -25px 8px 4px rgba(0, 0, 0, 0.5);
    height: 15px;
    left: 22px;
    transform: rotate(22deg) skew(-18deg, -28deg);
    width: 45px;
}
.tsc_ribbon_wrap .right-edge.fork:after {
  background: none repeat scroll 0 0 #666666;
    box-shadow: -20px -5px 4px rgba(0, 0, 0, 0.5);
    height: 20px;
    left: 22px;
    top: 5px;
    transform: rotate(-32deg) skew(18deg, 28deg);
    width: 40px;
}
.tsc_ribbon_wrap.ie8 .right-edge.fork:before, .tsc_ribbon_wrap.ie8 .right-edge.fork:after {
  display: none;
}
.tsc_ribbon_wrap.ie8 .lblue, .tsc_ribbon_wrap .lblue > span, .tsc_ribbon_wrap .lblue.left-corner > span:before, .tsc_ribbon_wrap .lblue.left-corner > span:after, .tsc_ribbon_wrap .lblue.right-corner > span, .tsc_ribbon_wrap .lblue.right-corner > span:before, .tsc_ribbon_wrap .lblue.right-corner > span:after {
  background-color: #42A5D4;
  background-image: -moz-linear-gradient(center top , #42A5D4, #24769D);
}
.tsc_ribbon_wrap .lblue.left-corner:before {
  border-bottom-color: #174C66;
  border-left-color: #174C66;
}
.tsc_ribbon_wrap .lblue.left-corner:after {
  border-right-color: #174C66;
  border-top-color: #174C66;
}
.tsc_ribbon_wrap .lblue.right-corner:before {
  border-left-color: #174C66;
  border-top-color: #174C66;
}
.tsc_ribbon_wrap .lblue.right-corner:after {
  border-bottom-color: #174C66;
  border-right-color: #174C66;
}
.tsc_ribbon_wrap .lblue.left-edge.point:after, .tsc_ribbon_wrap .lblue.right-edge.point:after {
  background-color: #42A5D4;
  background-image: linear-gradient(-45deg, #42A5D4, #24769D);
}
.tsc_ribbon_wrap .lblue.left-edge:before {
  border-left-color: #174C66;
  border-top-color: #174C66;
}
.tsc_ribbon_wrap .lblue.right-edge:before {
  border-right-color: #174C66;
  border-top-color: #174C66;
}
.tsc_ribbon_wrap .lblue.left-edge.fork > span {
  background-color: #42A5D4;
  background-image: -moz-linear-gradient(left center , #42A5D4 0px, #42A5D4 5px, #24769D 15%, #24769D 65%, #42A5D4 100%);
}
.tsc_ribbon_wrap.ie8 .lblue.left-edge.fork > span {
}
.tsc_ribbon_wrap .lblue.left-edge.fork > span:after {
  border-color: #42A5D4 transparent #42A5D4 #42A5D4;
}
.tsc_ribbon_wrap .lblue.left-edge.fork > span:before {
  border-left-color: #174C66;
  border-top-color: #174C66;
}
.tsc_ribbon_wrap .lblue.right-edge.fork > span {  
  background-color: #42A5D4;
  background-image: -moz-linear-gradient(right center , #42A5D4 0px, #42A5D4 5px, #24769D 15%, #24769D 65%, #42A5D4 100%);
}
.tsc_ribbon_wrap.ie8 .lblue.right-edge.fork > span {
}
.tsc_ribbon_wrap .lblue.right-edge.fork > span:after {
  border-color: #42A5D4 #42A5D4 #42A5D4 transparent;
}
.tsc_ribbon_wrap .lblue.right-edge.fork > span:before {
  border-right-color: #174C66;
  border-top-color: #174C66;
}
.tsc_ribbon_wrap.ie8 .lred, .tsc_ribbon_wrap .lred > span, .tsc_ribbon_wrap .lred.left-corner > span:before, .tsc_ribbon_wrap .lred.left-corner > span:after, .tsc_ribbon_wrap .lred.right-corner > span, .tsc_ribbon_wrap .lred.right-corner > span:before, .tsc_ribbon_wrap .lred.right-corner > span:after {
  background-color: #F80000;
  background-image: -moz-linear-gradient(center top , #F80000, #A30000);
}
.tsc_ribbon_wrap .lred.left-corner:before {
  border-bottom-color: #5F0000;
  border-left-color: #5F0000;
}
.tsc_ribbon_wrap .lred.left-corner:after {
  border-right-color: #5F0000;
  border-top-color: #5F0000;
}
.tsc_ribbon_wrap .lred.right-corner:before {
  border-left-color: #5F0000;
  border-top-color: #5F0000;
}
.tsc_ribbon_wrap .lred.right-corner:after {
  border-bottom-color: #5F0000;
  border-right-color: #5F0000;
}
.tsc_ribbon_wrap .lred.left-edge.point:after, .tsc_ribbon_wrap .lred.right-edge.point:after {
  background-color: #F80000;
  background-image: linear-gradient(-45deg, #F80000, #A30000);
}
.tsc_ribbon_wrap .lred.left-edge:before {
  border-left-color: #5F0000;
  border-top-color: #5F0000;
}
.tsc_ribbon_wrap .lred.right-edge:before {
  border-right-color: #5F0000;
  border-top-color: #5F0000;
}
.tsc_ribbon_wrap .lred.left-edge.fork > span {
  background-color: #F80000;
  background-image: -moz-linear-gradient(left center , #F80000 0px, #F80000 5px, #A30000 15%, #A30000 65%, #F80000 100%);
}
.tsc_ribbon_wrap.ie8 .lred.left-edge.fork > span {
}
.tsc_ribbon_wrap .lred.left-edge.fork > span:after {
  border-color: #F80000 transparent #F80000 #F80000;
}
.tsc_ribbon_wrap .lred.left-edge.fork > span:before {
  border-left-color: #5F0000;
  border-top-color: #5F0000;
}
.tsc_ribbon_wrap .lred.right-edge.fork > span {
  background-color: #F80000;
  background-image: -moz-linear-gradient(right center , #F80000 0px, #F80000 5px, #A30000 15%, #A30000 65%, #F80000 100%);
}
.tsc_ribbon_wrap.ie8 .lred.right-edge.fork > span {
}
.tsc_ribbon_wrap .lred.right-edge.fork > span:after {
  border-color: #F80000 #F80000 #F80000 transparent;
}
.tsc_ribbon_wrap .lred.right-edge.fork > span:before {
  border-right-color: #5F0000;
  border-top-color: #5F0000;
}

#navbarsExample10 .breadcrumb-item {
  color: #009ff1;
}

#navbarsExample10 .breadcrumb-item.active {
  color: #3e4676 !important;
}

.ribbon5 {
  display: block;
  width: calc(100% + 20px);
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  background: #EDBA19;
  position: relative;
  top: 20px;
}
.ribbon5:before, .ribbon5:after {
  content: "";
  position: absolute;
}
.ribbon5:before {
  height: 0;
  width: 0;
  bottom: -10px;
  left: 0;
  border-top: 10px solid #cd8d11;
  border-left: 10px solid transparent;
}
.ribbon5:after {
  height: 0;
  width: 0;
  right: 0;
  bottom: -10px;
  border-top: 10px solid #cd8d11;
  border-right: 10px solid transparent;
}
.wrap {
  width: 100%;
  height: 188px;
  position: absolute;
  top: -8px;
  left: 8px;
  overflow: hidden;
}
.wrap:before, .wrap:after {
  content: ""; 
  position: absolute;
}
.wrap:before {
  width: 40px;
  height: 8px;
  right: 100px;
  background: #4D6530;
  border-radius: 8px 8px 0px 0px;
}
.wrap:after {
  width: 8px;
  height: 40px;
  right: 0px;
  top: 100px;
  background: #4D6530;
  border-radius: 0px 8px 8px 0px;
}
.directionSelector:hover{
  background-color: #6c757d1a;
}
.badge-secondary.directionSelector:hover{
  background-color: #6c757dc7;
}
.breadcrumb-item:hover{
  color :#0385c7 !important
}
.intDelete:hover{
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.error-shadow{
  box-shadow: 0 .5rem 1rem rgba(254,179,186,.62)!important;
}
.error-shadow:hover{
  box-shadow: 0 1rem 3rem rgba(254,179,186,3)!important;
}
.selectedFieldRow{
  background-color: #d6ecd6ba!important;
  border-bottom : 1px solid white !important;
}
.selectedFieldRow #tickIcon{
  color: #28a745!important;
}
.autoSuggestDummy #tickIcon{
  color: #cbd3da; 
}

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg); 
  left: 0;
}

.wave {
  position: absolute;
  opacity: .4;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  border-radius: 43%;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.wave.-one {
  animation: rotate 7000ms infinite linear;
  opacity: .1;
  background: #0af;
}

.wave.-two {
  animation: rotate 3000ms infinite linear;
  opacity: .1;
  background: black;
}

.wave.-three {
  animation: rotate 7500ms infinite linear;
  background-color: #77daff;
}

.error-shadow .card-footer{
  background-color: #ea04044f !important;
}